.contacts-form-results {
  font-size: 20px;
  width: 100%;
}

.frame {
  margin: 20px;
  max-width: 100%;
  border: 20px;
}

.results-table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

.list-data-item {
  white-space: pre-line;
  overflow: scroll;
  word-break: break-word;
}

.list-buttons {
  white-space: nowrap;
  float: right;
}

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: space-between;
}

.form-control {
  width: 75%;
}

#dropdown {
  margin: 0 20px;
}

.add-button {
  background-color: green;
  margin-left: 20px;
}

.delete-button {
  background-color: red;
}

.edit-button {
  background-color: orange;
}

.btn {
  color: white;
  display: inline-block;
  text-decoration: none;
  margin-left: 10px;
  padding: 0.5em 1em;
  font-size: 18px;
}


.column {
  float: left;
  width: 48%;
  margin: 0 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}